body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #16a085;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: #16a085;
}

.row {
  display: flex;
}

.cell {
  background-color: orange;
}

.hoveredCell {
  background-color: #d35400;
}